<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <% cart.forEach(item => { %>
     <p><%= item.name %></p>
     <% if (item.sale_price) { %>
     <p><%= item.sale_price %></p>
     <% } else { %>
     <p><%= item.price %></p>
     <% } %>
     <% if (item.sale_price) { %>
     <p><%= item.sale_price * item.quantity %></p>
     <% } else { %>     
     <p><%= item.price * item.quantity %></p>
     <% } %>
     <img src="<%= item.image %>" alt="">
    <% }) %>
</body>
</html>